<!DOCTYPE html>
<html>

   <head>
      <meta charset="utf-8">
      <title>Login</title>
   </head>

  <body>

 	<input type="button" id="show_login" value="Show Login">
 		<div id = "loginform">
  			<form method = "post" action = "">
   				<p>Login to proceed</p>
   					<input type = "image" id = "close_login" src = "images/close.png">
   					<input type = "text" id = "login" placeholder = "Email Id" name = "uid">
   					<input type = "password" id = "password" name = "upass" placeholder = "***">
   					<input type = "submit" id = "dologin" value = "Login">
  			</form>
 		</div>
 </body>
</html>